<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Empower Women</title>
        <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
<header>
<div>
    <div class="display"> 
        <div class="logo">
            <a href="index"><img src="/assets/images/logo.jpg" alt="Empower Women!" width="150" height="100"></a>
        </div>
        <div class="left">
            <p class="title">Empower Women!</p>
        </div>
        <div class="my_connections">
            <p><a href="newConnection" class="color1">Start a new seminar</a>&emsp;&emsp;
            <a href="savedConnections" class="color1">Login</a>&emsp;&emsp;
            <a href="savedConnections" class="color1">Sign up</a>	
            </p>
        </div>
    </div>
<hr>
<div class="display">
    <div class="connections">
        <p><a href="connections" class="color1">Seminars</a></p>		
    </div>	
    <div class="user color1"><p>Welcome User!</p>
    </div>
</div>	
</div>
</header>