
<%- include('partials/header.ejs') %>

        <main class="table">
            <h2> This page is for women who are willing to make a change !</h2>
        </main>
            
<%- include('partials/footer.ejs') %>
